.list-animations {
  display:inline;
}

.list-animations:hover {
  transform:scale(1.1);
  -webkit-transition: .2s linear all;
  -moz-transition: .2s linear all;
  -o-transition: .2s linear all;
  transition: .2s linear all;

}

.list-animations.ng-enter,
.list-animations.ng-leave,
.list-animations.ng-move {
  -webkit-transition: 10s linear all;
  -moz-transition: 10s linear all;
  -o-transition: 10s linear all;
  transition: 10s linear all;
}

.list-animations.ng-enter,
.list-animations.ng-move {
  opacity: 0;
  height: 0;
  overflow: hidden;
}

.list-animations.ng-move.ng-move-active,
.list-animations.ng-enter.ng-enter-active {
  opacity: 1;
  height: 120px;
}

.list-animations.ng-leave {
  opacity: 1;
  overflow: hidden;
}

.list-animations.ng-leave.ng-leave-active {
  opacity: 0;
  height: 0;
  padding-top: 0;
  padding-bottom: 0;
}
